@model IEnumerable<HomeViewModel>

@{

	ViewData["Title"] = "Home Page";

}



<div class=container>
	<div id="carouselExampleCaptions" class="carousel slide">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner" role="listbox">
			<div class="carousel-item active carousel-item">
				<img class="d-block w-100" style="background-color: gray; height: 550px; width: 100%;" src="~/Images/Bread.jpg" alt="" />
				<div class="carousel-caption d-none d-md-block">
					<h3>Classic Breads</h3>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" style="background-color: gray; height: 550px; width: 100%;" src="~/Images/EasterBread.jpg" alt="" />
				<div class="carousel-caption d-none d-md-block">
					<h3>Easter breads</h3>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" style="background-color: gray; height: 550px; width: 100%;" src="~/Images/sandwich.jpg" alt="" />
				<div class="carousel-caption d-none d-md-block">
					<h3>Our Sandwiches</h3>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>

<h3 class="text-xl-center"> Today's offer </h3>

<div class="container">
	<div class="row gy-3">
		<div class="col-md-3">
			<div class="card">
				<img src="~/Images/chocolate-chip-muffins-featured.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Chocolate muffin</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img src="~/Images/20144-banana-banana-bread-mfs-60-bddcb8e0caac452386de52f6fecf33db.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Banana bread</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img src="~/Images/Sesame-Bagels-Feature.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Sesame bagel</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add</a>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card">
				<img src="~/Images/cucumber-sandwich-eddcc95811f5426094ea5dbea6a6b026.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Cucumber sandwich</h5>
					<p class="card-text"></p>
					<a href="#" class="btn btn-primary">Add</a>
				</div>
			</div>
		</div>
	</div>
</div>








@*@model IEnumerable<HomeViewModel>

@{
	ViewData["Title"] = "Home Page";
	var product = Model.ToList();
}

<div class="mb-5"></div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
		@for (int i = 0; i < product.Count(); i++)
		{
			var products = product[i];
			<div class="carousel-item @(i == 0 ? "active" : string.Empty)">
				<img class="d-block w-100" style="height:500px"
				 src="@products.ImageUrl" alt="@products.Title">
				<div class="carousel-caption d-none d-md-block">
					<h5>
						<a class="btn btn-primary" asp-controller="House" aspaction="Details"
					   asp-route-id="@products.Id"> @products.Title</a>
					</h5>
				</div>
			</div>
		}
	</div>
	<button class="carousel-control-prev" type="button" data-bstarget="#carouselExampleControls" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bstarget="#carouselExampleControls" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
*@