@model PossitionDeleteViewModel

@using static BakerySystem.Common.GeneralApplicationConstants;


@{
	ViewBag.Title = "Delete Possition";
}


<form method="post" asp-action="Delete" asp-route-id="@Model.Id">
	<h2 class="text-center">@ViewBag.Title</h2>
	<hr />
	<div class="container" style="display:inline">
		<div class="row">
			<div class="col-4">
				<img class="card-img-top" style="width: 20rem;"
					 src="@Model.ImageUrl" alt="House Image">
			</div>
			<div class="card col-8 border-0">
				<p style="font-size:25px;"><u>@Model.JobTitle</u></p>
				<p>Salary: <b>@Model.Salary</b></p>
				<p>Job Description: @Model.JobDescription</p>

				class="ml-2 btn btn-danger">
				<input class="btn btn-outline-primary float-end" type="submit" value="Delete" />
				@if (this.User.IsInRole(AdminRoleName))
				{

				}
			</div>
		</div>
	</div>
</form>