@model ProductSearchQueryModel


@{

	ViewData["Title"] = "Products";


}

<form method="get">
	<div class="row mb-5">
		<div class="form-group col-md-3">
			<label asp-for="SearchByName"></label>
			<input asp-for="SearchByName" class="form-control" placeholder="Product name">

		</div>

		<div class="form-group col-md-3">
			<input type="submit" class="btn btn-primary d-none" value="Search">
		</div>
	</div>
</form>


@if (Model.Products != null)
{

	<div class="row gy-3">
		@foreach (var product in Model.Products)
		{
			<div class="col-sm-4 col-md-3">
				<div class="card mb-3" @* h-100 *@>
					<img class="card-img-top" style="background-color: gray; height: 250px; width: 100%;"
						 src="@product.ImageUrl">
					<div class="card-body">
						<h5 class="card-title">@product.Name @product.Price$</h5>
						@* <p class="card-text" style="min-height: 120px;">@product.Description</p> *@
						<a asp-controller="Product" asp-action="All" asp-route-id="@product.Id" button class="btn btn-primary float-end">Add to Card</a>
					</div>
				</div>
			</div>
		}
	</div>
}

@{

	var previousPage = Model.CurrentPage - 1;

	if (previousPage < 1)
	{
		previousPage = 1;
	}

	var maxPage = Math.Ceiling((double)Model.TotalProducts / ProductSearchQueryModel.ProductsPerPage);
}
<div class="row mt-5 text-center">

	<div class="col-md-6">
		<a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
		   asp-controller="Product"
		   asp-action="All"
		   asp-route-currentPage="@previousPage"
		   asp-route-name="@Model.SearchByName"><<</a>
	</div>
	<div class="col-md-6">
		<a class="btn btn-primary @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)"
		   asp-controller="Product"
		   asp-action="All"
		   asp-route-currentPage="@(Model.CurrentPage + 1)"
		   asp-route-name="@Model.SearchByName">>></a>
	</div>

</div>


